<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <div>
        <input type="radio" id="yes" value="1" v-model="isFree">
        <label for="yes">是</label>
        <input type="radio" id="no" value="0" v-model="isFree">
        <label for="no">否</label>
        <br>
        <span>选择: {{ isFree }}</span>
    </div>
</div>
</body>
<script type="text/javascript" src="../vue.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el:"#app",
        data: {
            isFree:""
        }
    })
</script>
</html>
