<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #ccc">
<div id="app">
    <div>商品名称：<input v-model="product.name"/></div>
    <div>商品数量：<input v-model="product.count"/></div>
    <div>商品标题：<input v-model="product.title"/></div>
</div>
</body>
<script type="text/javascript" src="../vue.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            product: {
                name: "",
                count: 0,
                title: ""
            }
        },
        watch: {
            product: {
                handler(newVal, oldVal) {
                    console.log(newVal.name)
                    console.log(newVal.count)
                    console.log(newVal.title)
                },
                deep: true
            }
        }
    })
</script>
</html>
